@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    box-sizing: border-box;
}
html, body, #root{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
            
}
*, button, input{
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-1: white;
}

::-webkit-scrollbar {
    display: none;
}